/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/11/2017, 07:20:59 PM
    Author     : Adrián Alejandro
*/

body{
    background-image: url("../images/vision.jpg");
}

#tablaPosts table{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}